@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss-animated";

@layer primereact, theme, base, components, utilities;

/* theme.css */
@theme {
    /* Colors */
    --color-primary: var(--primary-color);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
    --color-primary-text: var(--primary-color-text);

    --color-surface-0: var(--surface-0);
    --color-surface-50: var(--surface-50);
    --color-surface-100: var(--surface-100);
    --color-surface-200: var(--surface-200);
    --color-surface-300: var(--surface-300);
    --color-surface-400: var(--surface-400);
    --color-surface-500: var(--surface-500);
    --color-surface-600: var(--surface-600);
    --color-surface-700: var(--surface-700);
    --color-surface-800: var(--surface-800);
    --color-surface-900: var(--surface-900);
    --color-surface-950: var(--surface-950);
    --color-surface-ground: var(--surface-ground);
    --color-surface-section: var(--surface-section);
    --color-surface-card: var(--surface-card);
    --color-surface-overlay: var(--surface-overlay);
    --color-surface-border: var(--surface-border);
    --color-surface-hover: var(--surface-hover);

    --color-input-invalid-border: var(--color-input-border-invalid);
    --color-input-border: var(--color-input-border);

    --color-default-text: var(--text-color);
    --color-secondary-text: var(--text-color-secondary);

    /* Border Radius */
    --border-radius-pv: var(--border-radius);

    /* Box Shadow */
    --box-shadow-focus-ring: var(--focus-ring);

    /* Spacing */
    --spacing-pv: var(--inline-spacing);

    /* Screens */
    --screen-xs: 320px;
    --screen-2xl: 1536px;
    --screen-3xl: 1920px;
    --screen-4xl: 2560px;

    /* Aria */
    --aria-invalid: 'invalid="true"';
}


